<div class="columns is-centered">
<div class="column event is-4">
  <div class="box">
  <p><strong>Your Events</strong></p>
  <% @user.events.each do |event| %>
    <div class="column is-half">
      <p><strong><%= link_to event.title, event_path(event) %></strong></p>
      <p><%= event.location %></p>
      <p><%= event.description%></p>
      <p><%= event.date %></p>
    <div>
  <% end %>
  </div>
</div>
</div>

<% if @user.attended_events.any? %>
<div class="column is-half is-offset-5">
  <p><strong>Upcoming Events</strong></p>
  <% @user.events.each do |event| %>
    <div class="column is-half">
      <p><%= event.title %></p>
      <p><%= event.location %></p>
      <p><%= event.description%></p>
      <p><%= event.date %></p>
    <div>
  <% end %>
</div>
<% end %>