<div class="column is-full">
<h1><strong>Upcoming Events</strong></h1>
<div class="columns is-multiline">
  <% @events.upcoming.each do |event| %>
    <div class="column is-one-third">
      <div class="box">
      <article class="media">
      <div class="media-content">
        <div class="content">
          <p><strong><%= link_to event.title, event_path(event) %></strong></p>
          <p><%= event.description %></p>
          <p class="creator-text">Host: <%= event.creator.username %></p>
          <p>Date: <%= event.date.strftime("%m/%d/%Y") %></p>
          <p>Time: <%= event.date.strftime("%H:%M") %></p>
        </div>
        </div>
    </article>
  </div>
  </div>
<% end %>
</div>

<h1><strong>Past Events</strong></h1>
<div class="columns is-multiline">
  <% @events.past.each do |event| %>
    <div class="column is-one-third">
      <div class="box">
      <article class="media">
      <div class="media-content">
        <div class="content">
          <p><strong><%= link_to event.title, event_path(event) %></strong></p>
          <p><%= event.description %></p>
          <p class="creator-text">Host: <%= event.creator.username %></p>
          <p>Date: <%= event.date.strftime("%m/%d/%Y") %></p>
          <p>Time: <%= event.date.strftime("%H:%M") %></p>
        </div>
        </div>
    </article>
  </div>
  </div>
<% end %>
</div>
</div>